{% extends 'base.html' %}

{% block title %}
   | Home
{% endblock title %}

{% block content %}
    <div class="content">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <strong></strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="container">
            <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'add' %}">
            {% csrf_token %}
              <input class="form-control mr-sm-2" type="search" placeholder="Task" aria-label="Search" name="item">
              <input class = "mx-2" name="date" value="{{feedback.dateSubmitted|date:'d/m/Y'}}" type="date">

              <button class="btn btn-success my-2 my-sm-0" type="submit">Add To List</button>
              
            </form>
        </div><br>
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle mx-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sorting Method
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'sort_date' %}">Date</a>
              <a class="dropdown-item" href="{% url 'sort_ascending' %}">Ascending</a>
              <a class="dropdown-item" href="{% url 'sort_descending'%}">Descending</a>
              <a class="dropdown-item" href="{% url 'sort_pending'%}">Pending</a>
            </div>
          </div><br>
        {% if all_items %}
        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                    <th class="text-center" scope="col">Task</th>
                    <th class="text-center" scope="col">Date</th>
                    <th class="text-center" scope="col">Pending Status</th>
                    <th class="text-center" scope="col">Edit</th>
                    <th class="text-center" scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for thing in all_items %}
                    {% if thing.completed %}
                        <tr class="table-secondary">
                            <td class="striker text-center">{{ thing.item }}</td>
                            <td class="striker text-center">{{ thing.date }}</td>
                            <td class="text-center"><a class="btn btn-primary" href="{% url 'delete' thing.id %}">Completed</a></td>
                            <td class="text-center"><a class="btn btn-warning" href="{% url 'edit' thing.id %}">Edit</a></td>
                            <td class="text-center"><a class="btn btn-danger" href="{% url 'delete' thing.id %}">Delete</a></td>
                        </tr>
                    {% else %}
                    <tr>
                            <td class="text-center">{{ thing.item }}</td>
                            <td class="text-center">{{ thing.date }}</td>
                            <td class="text-center"><a class="btn btn-primary" href="{% url 'cross_off' thing.id %}">Set Task Pending</a></td>
                            <td class="text-center"><a class="btn btn-warning" href="{% url 'edit' thing.id %}">Edit</a></td>
                            <td class="text-center"><a class="btn btn-danger" href="{% url 'delete' thing.id %}">Delete</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock content %}

